@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url(../fonts/Helvetica-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url(../fonts/Helvetica-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-account:before {
  content: ""
}
._icon-arrow-bottom:before {
  content: ""
}
._icon-arrow-right:before {
  content: ""
}
._icon-filter:before {
  content: ""
}
._icon-heart-filled:before {
  content: ""
}
._icon-heart:before {
  content: ""
}
._icon-location:before {
  content: ""
}
._icon-mail:before {
  content: ""
}
._icon-phone:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 390px
}
body {
  color: #000;
  line-height: 1;
  font-family: Helvetica;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Helvetica;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,86.25rem) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  color: #fff;
  padding: .625rem;
  border-radius: 30px;
  background-color: #2d2377;
  font-weight: 700;
  transition: background-color .3s
}
.button--fw {
  justify-content: center;
  width: 100%
}
.button--white {
  background-color: #fff;
  color: #2d2377;
  font-size: 1.5rem;
  padding: 1.75rem;
  border-radius: 1.875rem
}
.button--transparent {
  background-color: rgba(0,0,0,0);
  color: rgba(45,35,119,.7)
}
.button--medium {
  padding: 1.3125rem;
  font-size: 1.5rem
}
.button--big {
  padding: 1.75rem 4.8125rem;
  font-size: 1.5rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 30px!important;
  width: 100%;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  position: relative
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible+.checkbox__label:before {
  box-shadow: 0 0 5px #fff
}
.checkbox__input:checked+.checkbox__label:before {
  background: #fff
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
  color: #fff
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #fff
}
.checkbox__text {
  align-self: center;
  font-size: .875rem;
  line-height: 1.15
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  border-radius: 30px
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-self: center;
  font-size: .625rem;
  color: #2d2377;
  transition: all .3s ease 0s
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: .6
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% + .1875rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  padding: 10px 0 5px 0;
  border-radius: 10px
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center
}
.menu__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  overflow: auto;
  padding: 3.125rem .9375rem .9375rem .9375rem;
  background-color: #fff;
  transition: left .3s
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 4.375rem;
  left: -100%;
  top: 0;
  transition: left .3s;
  z-index: 2
}
.menu-open .menu__body {
  left: 0
}
.menu-open .menu__body::before {
  left: 0
}
.menu__body .header__languages {
  margin-bottom: 1.875rem
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  row-gap: .625rem;
  font-size: 1.125rem;
  color: #171242
}
.menu__list--mobile {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  text-align: left;
  align-items: flex-start;
  display: none;
  display: flex
}
.icon-menu {
  display: block;
  position: relative;
  width: 1.8125rem;
  height: 2.375rem;
  z-index: 5
}
.icon-menu span,
.icon-menu::after,
.icon-menu::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .25rem;
  background-color: #171242;
  border-radius: 10px
}
.icon-menu::before {
  top: .625rem;
  width: 70%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%
}
.icon-menu::after {
  bottom: .625rem;
  width: 70%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%
}
.icon-menu span {
  top: calc(50% - .125rem)
}
.menu-open .icon-menu span {
  width: 0
}
.menu-open .icon-menu::after,
.menu-open .icon-menu::before {
  width: 100%;
  left: 0
}
.menu-open .icon-menu::before {
  top: calc(50% - .125rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu::after {
  bottom: calc(50% - .125rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.spollers {
  display: grid;
  gap: 15px
}
.faq .spollers {
  gap: 1.25rem
}
.spollers__item {
  font-size: 1.25rem;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  border-radius: .625rem
}
.faq .spollers__item {
  background-color: #fff;
  border-radius: 30px
}
.spollers__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  align-items: center;
  cursor: default;
  text-align: left;
  padding: .625rem;
  position: relative;
  list-style: none;
  font-size: .875rem;
  color: rgba(45,35,119,.7)
}
.faq .spollers__title {
  border-radius: 30px;
  background-color: rgba(45,35,119,.05);
  padding: 1.75rem 3.75rem;
  color: #2d2377;
  font-size: 1.25rem;
  transition: background-color .3s
}
.faq .spollers__title._spoller-active {
  background-color: #f0f0f6
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after {
  flex: 0 0 auto;
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.spollers__body {
  padding: 1.25rem .625rem
}
.faq .spollers__body {
  padding: 1.25rem 3.75rem
}
.tabs {
  align-items: flex-start
}
.tabs__navigation {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.tabs__title {
  padding: 1.25rem 1.875rem;
  border-radius: 1.875rem;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  color: #2d2377;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
  transition: background-color .3s,color .3s,box-shadow .3s
}
.tabs__content {
  padding: 3.125rem 5rem;
  flex: 1 1 auto
}
.mobile-arrows {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page {
  padding-top: 6.25rem
}
.title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  color: #171242
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: .25rem;
  padding-top: 2.5rem
}
.swiper-pagination.swiper-pagination-lock {
  display: none
}
.swiper-pagination-bullet {
  width: .375rem;
  height: .375rem;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: rgba(45,35,119,.7);
  opacity: .5
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #171242
}
.swiper-button-prev {
  flex: 0 0 auto;
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 18px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDEyIDE4IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEwLjQ2NDkgMS4wNjkwN0MxMS4wMzg1IDEuNjQ4NjYgMTEuMDM5IDIuNTgxODUgMTAuNDY2IDMuMTYyMDVMNC43MDEwOCA5TDEwLjQ2NiAxNC44Mzc5QzExLjAzOSAxNS40MTgyIDExLjAzODUgMTYuMzUxMyAxMC40NjQ5IDE2LjkzMDlDOS44ODIzNiAxNy41MTk2IDguOTMxNDEgMTcuNTE5NiA4LjM0ODg3IDE2LjkzMDlMMS44OTIyOCAxMC40MDY4QzEuMTIxMDEgOS42Mjc1MSAxLjEyMTAyIDguMzcyNDkgMS44OTIyOCA3LjU5MzE2TDguMzQ4ODcgMS4wNjkwN0M4LjkzMTQxIDAuNDgwNDQ4IDkuODgyMzYgMC40ODA0NDggMTAuNDY0OSAxLjA2OTA3WiIgZmlsbD0iIzJEMjM3NyIvPgo8L3N2Zz4)
}
.swiper-button-next {
  flex: 0 0 auto;
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 18px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDEyIDE4IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTEuNTM1MSAxNi45MzA5QzAuOTYxNTE4IDE2LjM1MTMgMC45NjEwMDkgMTUuNDE4MiAxLjUzMzk2IDE0LjgzNzlMNy4yOTg5MiA5TDEuNTMzOTYgMy4xNjIwNUMwLjk2MTAxIDIuNTgxODUgMC45NjE1MTggMS42NDg2NiAxLjUzNTEgMS4wNjkwN0MyLjExNzY0IDAuNDgwNDQ4IDMuMDY4NTkgMC40ODA0NDggMy42NTExMyAxLjA2OTA3TDEwLjEwNzcgNy41OTMxNkMxMC44NzkgOC4zNzI0OSAxMC44NzkgOS42Mjc1MSAxMC4xMDc3IDEwLjQwNjhMMy42NTExMyAxNi45MzA5QzMuMDY4NTkgMTcuNTE5NiAyLjExNzY0IDE3LjUxOTYgMS41MzUxIDE2LjkzMDlaIiBmaWxsPSIjMkQyMzc3Ii8+Cjwvc3ZnPg==)
}
.breadcrumbs {
  padding-top: 3.75rem;
  margin-bottom: 1.875rem
}
.breadcrumbs__container {
  display: flex;
  gap: .875rem;
  align-items: center
}
.breadcrumbs__container span {
  font-size: .625rem;
  color: rgba(45,35,119,.7)
}
.breadcrumbs__link {
  color: rgba(45,35,119,.7)
}
.breadcrumbs__link.disabled {
  color: #2d2377;
  pointer-events: none
}
.heading__title {
  padding: 0 .9375rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: url(../img/heading-bg.webp) center center/cover no-repeat;
  border-radius: 1.875rem;
  overflow: hidden
}
.services__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.service {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  display: flex
}
.service__content {
  align-self: center;
  padding: 2.5rem 3.75rem;
  flex: 1 1 auto
}
.service__label {
  color: #2d2377;
  font-weight: 700
}
.service__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.service__price {
  flex: 0 0 auto;
  width: 19.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2d2377;
  color: #fff;
  border-radius: 30px;
  font-size: 1.25rem
}
.article {
  line-height: 1.15
}
.article img {
  max-width: 100%;
  height: auto!important
}
.article h2,
.article h3,
.article h4 {
  font-weight: 700
}
.article h2 {
  font-size: 1.75rem
}
.article h3 {
  margin-bottom: 1.25rem
}
.article p {
  margin-bottom: 1.25rem
}
.knowladge-login {
  flex: 1 1 auto
}
.knowladge-login__message {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 7.5rem;
  font-size: 1.25rem;
  color: rgba(45,35,119,.7)
}
.knowladge-login__content {
  padding: 4.375rem;
  border-radius: 30px;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  background-color: #fff
}
.login {
  max-width: 44.875rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column
}
.login__logo {
  display: block;
  max-width: 7.0625rem;
  margin: 0 auto;
  margin-bottom: 1.875rem
}
.login__logo img {
  width: 100%
}
.login__title {
  font-size: 1.25rem;
  text-align: center;
  color: #2d2377;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.875rem
}
.error {
  padding: .625rem 0;
  text-align: center;
  color: #a00000
}
.header {
  position: fixed;
  top: 0;
  left: .25rem;
  right: .25rem;
  padding: 1.25rem 0;
  z-index: 100;
  background-color: #fff;
  border-radius: 0 0 30px 30px
}
.header__container {
  gap: 1.875rem
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.header__logo {
  max-width: 5.75rem;
  display: inline-block
}
.header__logo img {
  max-width: 100%
}
.header__languages {
  display: flex;
  gap: .625rem;
  align-items: center;
  font-size: 1.125rem;
  font-family: Inter,sans-serif
}
.header__language {
  color: rgba(45,35,119,.7)
}
.header__language.active {
  color: #171242
}
.header__right {
  display: flex;
  justify-content: flex-end;
  gap: 3.125rem;
  align-items: center;
  position: relative;
  z-index: 5
}
.header__account-btn {
  padding: .625rem;
  font-size: 2.375rem;
  color: #171242;
  transition: color .3s
}
.footer__grid {
  gap: 11.25rem;
  align-items: flex-start;
  margin-bottom: 1.625rem
}
.footer__logo img {
  width: 100%
}
.menu-footer__list {
  row-gap: 1.5625rem;
  color: #171242;
  font-size: 1.125rem
}
.menu-footer__item:nth-child(5) {
  grid-column: span 2
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  align-items: flex-start
}
.contacts__link {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  font-size: 1.25rem;
  max-width: 13.4375rem
}
.contacts__link::before {
  color: rgba(45,35,119,.7)
}
.home-main {
  padding-top: 1.875rem
}
.home-main__left {
  position: relative;
  flex: 0 0 60.869565%
}
.home-main__left img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 3.125rem
}
.home-main__left-title {
  position: absolute;
  top: 5.9375rem;
  left: 3.125rem;
  right: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700
}
.home-main__left-title span:nth-child(2) {
  text-align: right
}
.home-main__left-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.875rem
}
.home-main__left-content p {
  max-width: 16.4375rem;
  margin: 0 auto
}
.home-main__main-button {
  padding: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3.125rem
}
.home-main__right {
  display: flex;
  flex-direction: column
}
.home-main__right-buttons {
  margin-bottom: 1.875rem
}
.home-main__right-button {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  color: #fff
}
.home-main__card {
  flex: 1 1 auto;
  border-radius: 30px;
  background: #1f2229;
  padding: 1.875rem 2.5rem;
  padding-top: 0;
  color: #fff;
  line-height: 1.15
}
.home-main__card img {
  max-width: 100%
}
.home-main__card-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.875rem
}
.home-main__card-text {
  font-size: 1.25rem;
  margin-bottom: 1.875rem
}
.home-main__card-link {
  font-size: 1.5rem;
  font-weight: 700
}
.ecosystem__title {
  margin-bottom: 4.375rem
}
.ecosystem__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.875rem;
  row-gap: 3.125rem
}
.card-ecosystem {
  border-radius: 1.875rem;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  background-color: #fff;
  display: flex;
  flex-direction: column
}
.card-ecosystem__title {
  padding: 1.875rem;
  color: #fff;
  background-color: #2d2377;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.15
}
.card-ecosystem__content {
  padding: 3.75rem .9375rem 3.125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto
}
.card-ecosystem__text {
  max-width: 21.875rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  line-height: 1.15;
  flex: 1 1 auto
}
.card-ecosystem__link {
  color: #2d2377;
  font-weight: 700;
  font-size: 1.5rem;
  align-self: center
}
.map-image__container img {
  width: 100%
}
.invest-priciple__cards {
  gap: 1.25rem
}
.card-invest-priciple {
  padding: 3.125rem;
  border-radius: 1.875rem;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  position: relative
}
.card-invest-priciple__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d2377;
  margin-bottom: 2.8125rem;
  list-style: none;
  position: relative;
  z-index: 2
}
.card-invest-priciple__title::-webkit-details-marker,
.card-invest-priciple__title::marker {
  display: none
}
.card-invest-priciple__text {
  font-size: 1.25rem;
  line-height: 1.15;
  position: relative;
  z-index: 2
}
.main-finance__wrapper {
  position: relative
}
.main-finance__content {
  color: #fff
}
.main-finance__title {
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700
}
.main-finance__text {
  line-height: 1.16
}
.main-finance__photo {
  position: absolute;
  bottom: 0;
  right: 0
}
.main-finance__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #2d2377;
  border-radius: 1.875rem;
  font-weight: 700;
  color: #2d2377;
  transition: background-color .3s,color .3s
}
.team__our-wrapper {
  display: flex;
  align-items: center;
  gap: .6875rem
}
.team__slider {
  overflow: visible!important;
  min-width: 0;
  position: relative
}
.swiper-button-lock+.team__slider::after,
.swiper-button-lock+.team__slider::before {
  display: none
}
.team__slider::after,
.team__slider::before {
  content: "";
  top: 0;
  position: absolute;
  height: 110%;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  pointer-events: none
}
.team__slider::before {
  right: 100%
}
.team__slider::after {
  left: 100%
}
.item-team__image {
  width: 100%;
  padding-bottom: 118.348624%;
  position: relative;
  margin-bottom: .75rem
}
.item-team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-team__content {
  padding: 1.875rem .9375rem;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  text-align: center
}
.item-team__title {
  margin-bottom: 1.0625rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d2377
}
.item-team__text {
  font-size: 1.125rem
}
.contacts-block__wrapper {
  background: url(../img/contacts-bg.webp) center center/cover no-repeat;
  padding: 6.25rem 0;
  overflow: hidden
}
.contacts-block__head {
  text-align: center;
  color: #fff;
  max-width: 35.3125rem;
  margin: 0 auto
}
.contacts-block__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.875rem
}
.contacts-block__sub-title {
  line-height: 1.15
}
.contacts-block__form {
  max-width: 35.3125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column
}
.contacts-block__inputs {
  display: flex;
  flex-direction: column;
  gap: .875rem
}
.contacts-block__input {
  height: 3.0625rem;
  padding: 0 2.1875rem;
  color: #fff;
  background-color: rgba(255,255,255,.2);
  border-radius: 1.875rem;
  font-size: 1.25rem
}
.contacts-block__input::-webkit-input-placeholder {
  color: #fff;
  opacity: .5
}
.contacts-block__input:-ms-input-placeholder {
  color: #fff;
  opacity: .5
}
.contacts-block__input::-ms-input-placeholder {
  color: #fff;
  opacity: .5
}
.contacts-block__input::placeholder {
  color: #fff;
  opacity: .5
}
.contacts-block__checkbox {
  margin-bottom: 1.875rem
}
.filters {
  padding: 1.4375rem 1rem;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  flex: 0 0 auto
}
.filters__heading {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem
}
.filters__title {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: 1.5rem;
  color: #2d2377;
  font-weight: 700
}
.filters__title span {
  font-size: 1.0625rem
}
.filters__counter {
  width: 1.4375rem;
  height: 1.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2d2377;
  color: #fff;
  font-size: .875rem
}
.filters__spollers {
  margin-bottom: 2.625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.filters__items {
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.filters__buttons {
  display: flex;
  flex-direction: column;
  gap: .5625rem
}
.spollers__body .checkbox__label {
  color: #171242
}
.spollers__body .checkbox__label::before {
  border-color: #171242
}
.spollers__body .checkbox__input:checked+.checkbox__label:before {
  background: #171242
}
.cards__placeholder {
  color: rgba(45,35,119,.7)
}
.cards__placeholder:not(:last-child) {
  margin-bottom: 1.875rem
}
.cards__items {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-bottom: 1.875rem
}
.card__image {
  border-radius: 30px;
  overflow: hidden
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.card__body {
  padding: 1.875rem;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  flex: 1 1 auto
}
.card__heading {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  align-items: center;
  color: #2d2377;
  margin-bottom: 1.875rem
}
.card__code {
  font-size: 1.125rem
}
.card__favorite-btn {
  flex: 0 0 auto;
  font-size: 1.6875rem;
  color: #2d2377;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.card__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  color: #2d2377
}
.card__description {
  margin-bottom: 1.875rem
}
.card__description-label {
  font-weight: 700;
  color: rgba(45,35,119,.7);
  margin-bottom: .75rem
}
.card__description-text {
  line-height: 1.15
}
.card__values {
  display: grid;
  grid-template-columns: repeat(2,auto);
  row-gap: 1.125rem;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.card__value {
  max-width: 17.5rem
}
.card__value-label {
  font-weight: 700;
  margin-bottom: .75rem;
  color: #2d2377
}
.card__value-text {
  line-height: 1.15
}
.registry__container {
  max-width: 37.5rem
}
.registry__title {
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d2377;
  margin-bottom: 1.875rem
}
.registry__form {
  margin-bottom: 1.875rem
}
.registry__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.875rem
}
.registry__checkbox {
  margin-bottom: 1.875rem
}
.registry__checkbox .checkbox__label {
  color: #171242
}
.registry__checkbox .checkbox__label::before {
  border-color: #171242
}
.registry__checkbox .checkbox__input:checked+.checkbox__label::before {
  background-color: #171242
}
.registry__footer {
  color: #171242;
  text-align: center
}
.registry__text {
  margin-bottom: .6875rem
}
.registry__login-link {
  font-weight: 700
}
.profile-section {
  padding-top: 3.75rem
}
.profile-section__title {
  color: #2d2377;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.875rem
}
.profile-section__title span {
  font-size: 1.25rem
}
.profile {
  padding: 0;
  background-color: rgba(0,0,0,0);
  box-shadow: none
}
.profile__image {
  padding-bottom: 78.787879%;
  position: relative;
  border-radius: 1.875rem;
  overflow: hidden;
  margin-bottom: 1.875rem
}
.profile__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.profile__body {
  padding: 1.875rem;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1.875rem
}
.profile__name {
  font-size: 1.75rem;
  font-weight: 700;
  color: #2d2377
}
.profile__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.profile__label {
  color: rgba(45,35,119,.7);
  margin-bottom: .75rem
}
.profile__value {
  font-size: 1.125rem
}
.profile__button {
  padding: 1.0625rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .menu__list--mobile {
    padding-top: 3.125rem
  }
  .tabs__title._tab-active {
    background-color: #2d2377;
    color: #fff
  }
  .tabs__content {
    background-color: #fff;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1);
    border-radius: 30px
  }
  .header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1)
  }
  .header__container {
    display: grid;
    grid-template-columns: 13.75rem 1fr 13.75rem
  }
  .footer .header__languages {
    display: none
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3,auto)
  }
  .home-main__right-buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.875rem
  }
  .home-main__right-button {
    background-color: #2d2377
  }
  .home-main__right-button span {
    position: relative;
    z-index: 2
  }
  .home-main__right-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/home-btn-01.webp) center center/cover no-repeat;
    transition: opacity .3s
  }
  .home-main__right-button--scondary::before {
    background: url(../img/home-btn-02.webp) center center/cover no-repeat
  }
  .invest-priciple__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
  .card-invest-priciple {
    text-align: center
  }
  .card-invest-priciple__image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-height: 100%;
    max-width: 100%
  }
  .main-finance__content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 65.217391%;
    padding-top: 4.0625rem;
    padding-bottom: 11.25rem;
    padding-left: 1.875rem
  }
  .main-finance__text {
    font-weight: 700;
    max-width: 43.75rem
  }
  .main-finance__photo {
    max-width: 37.753623%
  }
  .main-finance__button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26.449275%;
    height: 15.938865%
  }
  .contacts-block__wrapper {
    border-radius: 1.875rem
  }
  .section-filters__container {
    display: flex;
    gap: 1.875rem;
    position: relative
  }
  .filters {
    width: 20.625rem;
    align-self: flex-start;
    position: sticky;
    top: 7.5rem
  }
}
@media (min-width:47.99875em)and (any-hover:hover) {
  .home-main__right-button:hover::before {
    opacity: 0
  }
  .main-finance__button:hover {
    background-color: #2d2377;
    color: #fff
  }
}
@media (min-width:61.99875em) {
  .home-main__container {
    display: flex;
    gap: 1.9375rem
  }
  .home-main__left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 46.856465%;
    height: 29.819277%;
    padding-right: 1.875rem
  }
  .card {
    display: flex;
    gap: 1.875rem
  }
  .card__image {
    flex: 0 0 34.705882%
  }
}
@media (min-width:75rem) {
  .menu-footer__list {
    display: grid;
    grid-template-columns: auto auto
  }
}
@media (min-width:86.25em) {
  .service__label {
    font-size: 1.75rem
  }
  .service__text {
    font-size: 1.25rem
  }
  .article {
    font-size: 1.25rem
  }
  .article h3 {
    font-size: 1.5rem
  }
  .main-finance__title {
    font-size: 3.4375rem
  }
  .main-finance__title {
    margin-bottom: 3.125rem
  }
  .main-finance__text {
    font-size: 1.5rem
  }
  .main-finance__button {
    font-size: 1.5rem
  }
}
@media (min-width:87.5em) {
  .title {
    font-size: 3.75rem
  }
  .heading {
    margin-bottom: 3.75rem
  }
  .heading__title {
    padding-top: 8rem
  }
  .heading__title {
    padding-bottom: 8rem
  }
  .heading__title {
    font-size: 3.75rem
  }
  .faq {
    margin-bottom: 11.25rem
  }
  .services {
    padding-bottom: 11.25rem
  }
  .footer {
    padding-top: 11.25rem
  }
  .footer {
    padding-bottom: 1.875rem
  }
  .footer__grid {
    gap: 11.25rem
  }
  .footer__logo {
    width: 17.5rem
  }
  .footer__text {
    font-size: 1.125rem
  }
  .menu-footer__list {
    -webkit-column-gap: 6.875rem;
    -moz-column-gap: 6.875rem;
    column-gap: 6.875rem
  }
  .home-main {
    margin-bottom: 11.25rem
  }
  .home-main__left-title {
    font-size: 3.75rem
  }
  .home-main__left-content {
    font-size: 1.25rem
  }
  .home-main__right-button {
    font-size: 1.25rem
  }
  .ecosystem {
    margin-bottom: 11.25rem
  }
  .card-ecosystem__text {
    font-size: 1.25rem
  }
  .map-image {
    margin-bottom: 11.25rem
  }
  .invest-priciple {
    margin-bottom: 11.25rem
  }
  .invest-priciple__title {
    margin-bottom: 4.375rem
  }
  .main-finance {
    margin-bottom: 11.25rem
  }
  .team {
    margin-bottom: 11.25rem
  }
  .team__title {
    margin-bottom: 4.375rem
  }
  .contacts-block__head {
    margin-bottom: 4.375rem
  }
  .contacts-block__sub-title {
    font-size: 1.25rem
  }
  .contacts-block__inputs {
    margin-bottom: 4.375rem
  }
  .section-filters {
    padding-bottom: 12.5rem
  }
  .registry {
    padding-top: 3.75rem
  }
}
@media (max-width:48em) {
  .service__label {
    font-size: 1.25rem
  }
  .service__text {
    font-size: 1rem
  }
  .article {
    font-size: 1rem
  }
  .article h3 {
    font-size: 1.125rem
  }
  .main-finance__title {
    font-size: 1.25rem
  }
  .main-finance__title {
    margin-bottom: 1.25rem
  }
  .main-finance__text {
    font-size: 1rem
  }
  .main-finance__button {
    font-size: 1.25rem
  }
}
@media (max-width:75rem) {
  .menu-footer__list {
    display: flex;
    flex-direction: column;
    row-gap: .9375rem
  }
}
@media (max-width:61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .faq .spollers__title {
    padding: 1.75rem 1.25rem;
    font-size: 1rem
  }
  .faq .spollers__body {
    padding: 0 1.25rem 1.25rem;
    font-size: 1rem
  }
  .tabs__content {
    padding: 1.25rem
  }
  .knowladge-login__content {
    padding: 2.5rem .9375rem
  }
  .home-main__left-content {
    padding-top: 1.25rem
  }
  .home-main__main-button {
    padding: 1.25rem;
    font-size: 1.25rem
  }
  .home-main__right {
    display: none
  }
  .home-main__right-buttons {
    padding-top: 1.25rem
  }
  .ecosystem__cards {
    grid-template-columns: repeat(2,1fr)
  }
  .card__image {
    padding-bottom: 101.351351%;
    position: relative;
    display: block;
    margin-bottom: .625rem
  }
  .card__image img {
    position: absolute;
    top: 0;
    left: 0
  }
}
@media (max-width:47.99875em) {
  .button--white {
    padding: .9375rem;
    font-size: 1.25rem
  }
  .button--big {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem
  }
  .checkbox__text {
    font-size: .75rem
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: left;
    align-items: flex-start;
    display: none
  }
  .tabs .section-filters__filters {
    position: relative;
    margin-bottom: 1.875rem
  }
  .tabs__navigation {
    flex-direction: row;
    position: relative
  }
  .tabs__title {
    flex: 0 0 100%;
    text-align: center;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem 3.125rem
  }
  .tabs__title._tab-active {
    visibility: visible
  }
  .tabs__title:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .tabs__content {
    padding: 0 1.25rem
  }
  .mobile-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem;
    pointer-events: none;
    font-size: 1rem;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #2d2377
  }
  .mobile-arrows .nextTab,
  .mobile-arrows .prevTab {
    pointer-events: all
  }
  .mobile-arrows .nextTab.disabled,
  .mobile-arrows .prevTab.disabled {
    pointer-events: none;
    color: rgba(45,35,119,.2)
  }
  .mobile-arrows .prevTab {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  .service {
    flex-direction: column
  }
  .service__content {
    padding: 1.875rem .9375rem
  }
  .service__price {
    width: 100%;
    padding: 1rem
  }
  .article h2 {
    display: none
  }
  .header {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .header__right {
    gap: 1.5625rem
  }
  .footer__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.125rem;
    text-align: center;
    margin-bottom: 3.125rem
  }
  .footer__text {
    text-align: center
  }
  .menu-footer__list {
    font-size: 1rem
  }
  .menu-footer__item:nth-child(2) {
    order: 5
  }
  .menu-footer__item:nth-child(4) {
    order: 6
  }
  .contacts {
    align-items: center
  }
  .contacts__link {
    font-size: 1rem;
    gap: .75rem
  }
  .home-main__left img {
    border-radius: 1.875rem
  }
  .home-main__left-title {
    top: 1.875rem;
    left: .9375rem;
    right: .9375rem
  }
  .home-main__right-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem
  }
  .home-main__right-button {
    border: 3px solid #2d2377;
    color: #2d2377;
    padding: 2.1875rem;
    font-size: 1.25rem;
    border-radius: 1.875rem
  }
  .ecosystem__cards {
    grid-template-columns: 1fr
  }
  .map-image {
    display: none
  }
  .invest-priciple__cards {
    display: flex;
    flex-direction: column
  }
  .card-invest-priciple {
    padding: 1.25rem 1.875rem
  }
  .card-invest-priciple__title {
    margin-bottom: 0;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    gap: .9375rem;
    align-items: center;
    cursor: pointer
  }
  .card-invest-priciple__title::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 7px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTAgNyIgZmlsbD0ibm9uZSI+CjxwYXRoIGQ9Ik0wLjYwNDcwNiAxLjA1NDEzQzAuOTIyMzg2IDAuNzQ1NDU1IDEuNDI3ODggMC43NDUxOCAxLjc0NTkgMS4wNTM1MUw1IDQuMjA4NUw4LjI1NDEgMS4wNTM1MUM4LjU3MjEyIDAuNzQ1MTggOS4wNzc2MSAwLjc0NTQ1NSA5LjM5NTI5IDEuMDU0MTNDOS43MjY0MiAxLjM3NTg3IDkuNzI2NDIgMS45MDc1MyA5LjM5NTI5IDIuMjI5MjdMNS42OTY4NyA1LjgyMjg4QzUuMzA4OCA2LjE5OTk1IDQuNjkxMiA2LjE5OTk1IDQuMzAzMTMgNS44MjI4OEwwLjYwNDcwNiAyLjIyOTI3QzAuMjczNTg1IDEuOTA3NTMgMC4yNzM1ODUgMS4zNzU4NyAwLjYwNDcwNiAxLjA1NDEzWiIgZmlsbD0iIzJEMjM3NyIvPgo8L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle
  }
  .card-invest-priciple__text {
    padding-top: 1.25rem
  }
  .card-invest-priciple__image {
    display: none
  }
  .main-finance__container {
    padding: 0
  }
  .main-finance__wrapper {
    padding: 2.625rem 1.25rem;
    background: linear-gradient(180deg,#171242 0,#2d2377 100%)
  }
  .main-finance__bg {
    display: none
  }
  .main-finance__content {
    max-width: 82.857143%
  }
  .main-finance__text {
    margin-bottom: 4.1875rem
  }
  .main-finance__photo {
    height: 100%;
    -webkit-transform: translateX(40%);
    transform: translateX(40%)
  }
  .main-finance__button {
    padding: .9375rem 2.8125rem;
    color: #fff;
    border-color: #fff;
    display: inline-flex
  }
  .contacts-block__container {
    padding: 0
  }
  .contacts-block__wrapper {
    padding: 6.25rem 1.25rem
  }
  .contacts-block__input {
    height: 2.5rem;
    font-size: 1rem
  }
  .contacts-block__checkbox {
    margin-bottom: 3.125rem
  }
  .section-filters__filters {
    margin-bottom: 9.375rem
  }
  .cards__button {
    width: 100%;
    justify-content: center
  }
}
@media (max-width:29.99875em) {
  .card__values {
    grid-template-columns: 1fr
  }
}
@media (max-width:24.375em) {
  .title {
    font-size: 1.875rem
  }
  .heading {
    margin-bottom: 1.875rem
  }
  .heading__title {
    padding-top: 4.0625rem
  }
  .heading__title {
    padding-bottom: 4.0625rem
  }
  .heading__title {
    font-size: 1.25rem
  }
  .faq {
    margin-bottom: 9.375rem
  }
  .services {
    padding-bottom: 9.375rem
  }
  .footer {
    padding-top: 8.75rem
  }
  .footer {
    padding-bottom: 3.75rem
  }
  .footer__grid {
    gap: 1.875rem
  }
  .footer__logo {
    width: 11.4375rem
  }
  .footer__text {
    font-size: 1rem
  }
  .menu-footer__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .home-main {
    margin-bottom: 9.375rem
  }
  .home-main__left-title {
    font-size: 1.875rem
  }
  .home-main__left-content {
    font-size: 1rem
  }
  .home-main__right-button {
    font-size: 1rem
  }
  .ecosystem {
    margin-bottom: 9.375rem
  }
  .card-ecosystem__text {
    font-size: 1rem
  }
  .map-image {
    margin-bottom: 9.375rem
  }
  .invest-priciple {
    margin-bottom: 9.375rem
  }
  .invest-priciple__title {
    margin-bottom: 3.125rem
  }
  .main-finance {
    margin-bottom: 9.375rem
  }
  .team {
    margin-bottom: 9.375rem
  }
  .team__title {
    margin-bottom: 3.125rem
  }
  .contacts-block__head {
    margin-bottom: 3.125rem
  }
  .contacts-block__sub-title {
    font-size: 1rem
  }
  .contacts-block__inputs {
    margin-bottom: 3.125rem
  }
  .section-filters {
    padding-bottom: 9.375rem
  }
  .registry {
    padding-top: 1.875rem
  }
}
@media (min-width:24.375em)and (max-width:87.5em) {
  .title {
    font-size: clamp(1.875rem ,1.150990099rem + 2.9702970297vw ,3.75rem)
  }
  .heading {
    margin-bottom: clamp(1.875rem ,1.150990099rem + 2.9702970297vw ,3.75rem)
  }
  .heading__title {
    padding-top: clamp(4.0625rem ,2.5420792079rem + 6.2376237624vw ,8rem)
  }
  .heading__title {
    padding-bottom: clamp(4.0625rem ,2.5420792079rem + 6.2376237624vw ,8rem)
  }
  .heading__title {
    font-size: clamp(1.25rem ,.2846534653rem + 3.9603960396vw ,3.75rem)
  }
  .faq {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .services {
    padding-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .footer {
    padding-top: clamp(8.75rem ,7.7846534653rem + 3.9603960396vw ,11.25rem)
  }
  .footer {
    padding-bottom: clamp(1.875rem ,4.474009901rem + -2.9702970297vw ,3.75rem)
  }
  .footer__grid {
    gap: clamp(1.875rem ,-1.745049505rem + 14.8514851485vw ,11.25rem)
  }
  .footer__logo {
    width: clamp(11.4375rem ,9.0965346535rem + 9.603960396vw ,17.5rem)
  }
  .footer__text {
    font-size: clamp(1rem ,.9517326733rem + .198019802vw ,1.125rem)
  }
  .menu-footer__list {
    -webkit-column-gap: clamp(3.125rem ,1.676980198rem + 5.9405940594vw ,6.875rem);
    -moz-column-gap: clamp(3.125rem ,1.676980198rem + 5.9405940594vw ,6.875rem);
    column-gap: clamp(3.125rem ,1.676980198rem + 5.9405940594vw ,6.875rem)
  }
  .home-main {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .home-main__left-title {
    font-size: clamp(1.875rem ,1.150990099rem + 2.9702970297vw ,3.75rem)
  }
  .home-main__left-content {
    font-size: clamp(1rem ,.9034653465rem + .396039604vw ,1.25rem)
  }
  .home-main__right-button {
    font-size: clamp(1rem ,.9034653465rem + .396039604vw ,1.25rem)
  }
  .ecosystem {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .card-ecosystem__text {
    font-size: clamp(1rem ,.9034653465rem + .396039604vw ,1.25rem)
  }
  .map-image {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .invest-priciple {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .invest-priciple__title {
    margin-bottom: clamp(3.125rem ,2.6423267327rem + 1.9801980198vw ,4.375rem)
  }
  .main-finance {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .team {
    margin-bottom: clamp(9.375rem ,8.650990099rem + 2.9702970297vw ,11.25rem)
  }
  .team__title {
    margin-bottom: clamp(3.125rem ,2.6423267327rem + 1.9801980198vw ,4.375rem)
  }
  .contacts-block__head {
    margin-bottom: clamp(3.125rem ,2.6423267327rem + 1.9801980198vw ,4.375rem)
  }
  .contacts-block__sub-title {
    font-size: clamp(1rem ,.9034653465rem + .396039604vw ,1.25rem)
  }
  .contacts-block__inputs {
    margin-bottom: clamp(3.125rem ,2.6423267327rem + 1.9801980198vw ,4.375rem)
  }
  .section-filters {
    padding-bottom: clamp(9.375rem ,8.1683168317rem + 4.9504950495vw ,12.5rem)
  }
  .registry {
    padding-top: clamp(1.875rem ,1.150990099rem + 2.9702970297vw ,3.75rem)
  }
}
@media (min-width:48em)and (max-width:86.25em) {
  .service__label {
    font-size: clamp(1.25rem ,.6225490196rem + 1.3071895425vw ,1.75rem)
  }
  .service__text {
    font-size: clamp(1rem ,.6862745098rem + .6535947712vw ,1.25rem)
  }
  .article {
    font-size: clamp(1rem ,.6862745098rem + .6535947712vw ,1.25rem)
  }
  .article h3 {
    font-size: clamp(1.125rem ,.6544117647rem + .9803921569vw ,1.5rem)
  }
  .main-finance__title {
    font-size: clamp(1.25rem ,-1.4950980392rem + 5.7189542484vw ,3.4375rem)
  }
  .main-finance__title {
    margin-bottom: clamp(1.25rem ,-1.1029411765rem + 4.9019607843vw ,3.125rem)
  }
  .main-finance__text {
    font-size: clamp(1rem ,.3725490196rem + 1.3071895425vw ,1.5rem)
  }
  .main-finance__button {
    font-size: clamp(1.25rem ,.9362745098rem + .6535947712vw ,1.5rem)
  }
}
@media (min-width:47.99875em)and (max-width:61.99875em) {
  .footer__grid {
    grid-template-columns: repeat(2,auto)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #171242
  }
  .button--white:hover {
    background-color: #ebebeb
  }
  .button--transparent:hover {
    background-color: rgba(0,0,0,0);
    color: #2d2377
  }
  .select__option:hover {
    background: #d9d9d9
  }
  .menu__link:hover {
    text-decoration: underline
  }
  .tabs__title:hover {
    box-shadow: none
  }
  .breadcrumbs__link:hover {
    text-decoration: underline
  }
  .header__account-btn:hover {
    color: rgba(45,35,119,.7)
  }
  .menu-footer__link:hover {
    text-decoration: underline
  }
  .home-main__card-link:hover {
    text-decoration: underline
  }
  .card-ecosystem__link:hover {
    text-decoration: underline
  }
  .card__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .card__favorite-btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .card__title a:hover {
    text-decoration: underline
  }
  .registry__login-link:hover {
    text-decoration: underline
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}