//====================================================================================================
.home-main {
	padding-top: toRem(30);
	@include adaptiveValue('margin-bottom', 180, 150);
	&__container {
		@media (min-width: $tablet) {
			display: flex;
			gap: toRem(31);
		}
	}
	&__left {
		position: relative;
		flex: 0 0 60.869565%; /* 840/1380 */
		img {
			width: 100%;
			min-height: 100%;
			object-fit: cover;
			border-radius: toRem(50);
			@media (max-width: $mobile) {
				border-radius: toRem(30);
			}
		}
	}
	&__left-title {
		position: absolute;
		top: toRem(95);
		left: toRem(50);
		right: toRem(50);
		display: flex;
		flex-direction: column;
		gap: toRem(30);
		z-index: 2;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		@include adaptiveValue('font-size', 60, 30, 992);
		span:nth-child(2) {
			text-align: right;
		}
		@media (max-width: $mobile) {
			top: toRem(30);
			left: toRem(15);
			right: toRem(15);
		}
	}
	&__left-content {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: toRem(30);
		@include adaptiveValue('font-size', 20, 16, 992);
		p {
			max-width: toRem(263);
			margin: 0 auto;
		}
		@media (min-width: $tablet) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 46.856465%; /* 395/843 */
			height: 29.819277%; /* 198/664 */
			padding-right: toRem(30);
		}
		@media (max-width: $tablet) {
			padding-top: toRem(20);
		}
	}
	&__main-button {
		padding: toRem(28);
		font-size: toRem(24);
		font-weight: 700;
		border-radius: toRem(50);
		@media (max-width: $tablet) {
			padding: toRem(20);
			font-size: toRem(20);
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__right-buttons {
		margin-bottom: toRem(30);
		@media (max-width: $tablet) {
			padding-top: toRem(20);
		}
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(30);
		}
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
		}
	}
	&__right-button {
		position: relative;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: toRem(20);
		border-radius: 30px;
		font-weight: 700;
		text-transform: uppercase;
		overflow: hidden;
		color: #fff;
		@include adaptiveValue('font-size', 20, 16, 992);
		@media (min-width: $mobile) {
			background-color: $mainBlueColor;
			span {
				position: relative;
				z-index: 2;
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url('@img/home-btn-01.png') center center / cover no-repeat;
				transition: opacity 0.3s;
			}
			&--scondary::before {
				background: url('@img/home-btn-02.png') center center / cover no-repeat;
			}
			@media (any-hover: hover) {
				&:hover::before {
					opacity: 0;
				}
			}
		}
		@media (max-width: $mobile) {
			border: 3px solid #2d2377;
			color: #2d2377;
			padding: toRem(35);
			font-size: toRem(20);
			border-radius: toRem(30);
		}
	}
	&__card {
		flex: 1 1 auto;
		border-radius: 30px;
		background: #1f2229;
		padding: toRem(30) toRem(40);
		padding-top: 0;
		color: #fff;
		line-height: 1.15;
		img {
			max-width: 100%;
		}
	}
	&__card-title {
		font-size: toRem(28);
		font-weight: 700;
		margin-bottom: toRem(30);
	}
	&__card-text {
		font-size: toRem(20);
		margin-bottom: toRem(30);
	}
	&__card-link {
		font-size: toRem(24);
		font-weight: 700;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.home-home-main {
	&__card-image {
	}
}
//========================================================================================================================================================
.ecosystem {
	@include adaptiveValue('margin-bottom', 180, 150);
	&__container {
	}
	&__title {
		margin-bottom: toRem(70);
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(30);
		row-gap: toRem(50);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	&__card {
	}
}
.card-ecosystem {
	border-radius: toRem(30);
	overflow: hidden;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	&__title {
		padding: toRem(30);
		color: #fff;
		background-color: $mainBlueColor;
		font-weight: 700;
		font-size: toRem(24);
		text-align: center;
		line-height: 1.15;
	}
	&__content {
		padding: toRem(60) toRem(15) toRem(50);
		text-align: center;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	&__text {
		max-width: toRem(350);
		margin: 0 auto;
		margin-bottom: toRem(60);
		line-height: 1.15;
		flex: 1 1 auto;
		@include adaptiveValue('font-size', 20, 16);
	}
	&__link {
		color: $mainBlueColor;
		font-weight: 700;
		font-size: toRem(24);
		align-self: center;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//========================================================================================================================================================
.map-image {
	@include adaptiveValue('margin-bottom', 180, 150);
	@media (max-width: $mobile) {
		display: none;
	}
	&__container {
		img {
			width: 100%;
		}
	}
}
//========================================================================================================================================================
.invest-priciple {
	@include adaptiveValue('margin-bottom', 180, 150);
	&__container {
	}
	&__title {
		@include adaptiveValue('margin-bottom', 70, 50);
	}
	&__cards {
		gap: toRem(20);
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
		}
	}
	&__card {
	}
}
.card-invest-priciple {
	padding: toRem(50);
	border-radius: toRem(30);
	background-color: #fff;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	@media (min-width: $mobile) {
		text-align: center;
	}
	@media (max-width: $mobile) {
		padding: toRem(20) toRem(30);
	}
	&__title {
		font-size: toRem(20);
		font-weight: 700;
		text-transform: uppercase;
		color: $mainBlueColor;
		margin-bottom: toRem(45);
		list-style: none;
		position: relative;
		z-index: 2;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(0);
			font-size: toRem(18);
			display: flex;
			justify-content: space-between;
			gap: toRem(15);
			align-items: center;
			cursor: pointer;
			&::after {
				content: '';
				display: inline-block;
				width: 10px;
				height: 7px;
				background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTAgNyIgZmlsbD0ibm9uZSI+CjxwYXRoIGQ9Ik0wLjYwNDcwNiAxLjA1NDEzQzAuOTIyMzg2IDAuNzQ1NDU1IDEuNDI3ODggMC43NDUxOCAxLjc0NTkgMS4wNTM1MUw1IDQuMjA4NUw4LjI1NDEgMS4wNTM1MUM4LjU3MjEyIDAuNzQ1MTggOS4wNzc2MSAwLjc0NTQ1NSA5LjM5NTI5IDEuMDU0MTNDOS43MjY0MiAxLjM3NTg3IDkuNzI2NDIgMS45MDc1MyA5LjM5NTI5IDIuMjI5MjdMNS42OTY4NyA1LjgyMjg4QzUuMzA4OCA2LjE5OTk1IDQuNjkxMiA2LjE5OTk1IDQuMzAzMTMgNS44MjI4OEwwLjYwNDcwNiAyLjIyOTI3QzAuMjczNTg1IDEuOTA3NTMgMC4yNzM1ODUgMS4zNzU4NyAwLjYwNDcwNiAxLjA1NDEzWiIgZmlsbD0iIzJEMjM3NyIvPgo8L3N2Zz4=');
				background-size: contain;
				background-repeat: no-repeat;
				vertical-align: middle;
			}
		}
	}
	&__text {
		font-size: toRem(20);
		line-height: 1.15;
		position: relative;
		z-index: 2;
		@media (max-width: $mobile) {
			padding-top: toRem(20);
		}
	}
	&__image {
		@media (min-width: $mobile) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 100%;
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
}
//========================================================================================================================================================
.main-finance {
	@include adaptiveValue('margin-bottom', 180, 150);
	&__container {
		@media (max-width: $mobile) {
			padding: 0;
		}
	}
	&__wrapper {
		position: relative;
		@media (max-width: $mobile) {
			padding: toRem(42) toRem(20);
			background: linear-gradient(180deg, #171242 0%, #2d2377 100%);
		}
	}
	&__bg {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__content {
		color: #fff;
		@media (min-width: $mobile) {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 65.217391%; /* 900/1380 */
			padding-top: toRem(65);
			padding-bottom: toRem(180);
			padding-left: toRem(30);
		}
		@media (max-width: $mobile) {
			max-width: 82.857143%; /* 290/350 */
		}
	}
	&__title {
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 700;
		@include adaptiveValue('font-size', 55, 20, 0, 1380, 768);
		@include adaptiveValue('margin-bottom', 50, 20, 0, 1380, 768);
	}
	&__text {
		line-height: 1.16;
		@include adaptiveValue('font-size', 24, 16, 0, 1380, 768);
		@media (min-width: $mobile) {
			font-weight: 700;
			max-width: toRem(700);
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(67);
		}
	}
	&__photo {
		position: absolute;
		bottom: 0;
		right: 0;
		@media (min-width: $mobile) {
			max-width: 37.753623%; /* 521/1380 */
		}
		@media (max-width: $mobile) {
			height: 100%;
			transform: translateX(40%);
		}
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 2px solid $mainBlueColor;
		border-radius: toRem(30);
		font-weight: 700;
		color: $mainBlueColor;
		transition:
			background-color 0.3s,
			color 0.3s;
		@include adaptiveValue('font-size', 24, 20, 0, 1380, 768);
		@media (min-width: $mobile) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 26.449275%; /* 365/1380 */
			height: 15.938865%; /* 73/458 */
			@media (any-hover: hover) {
				&:hover {
					background-color: $mainBlueColor;
					color: #fff;
				}
			}
		}
		@media (max-width: $mobile) {
			padding: toRem(15) toRem(45);
			color: #fff;
			border-color: #fff;
			display: inline-flex;
		}
	}
}
//========================================================================================================================================================
.team {
	@include adaptiveValue('margin-bottom', 180, 150);
	&__container {
	}
	&__title {
		@include adaptiveValue('margin-bottom', 70, 50);
	}
	&__our-wrapper {
		display: flex;
		align-items: center;
		gap: toRem(11);
	}
	&__slider {
		overflow: visible !important;
		min-width: 0;
		position: relative;
		.swiper-button-lock + &::before,
		.swiper-button-lock + &::after {
			display: none;
		}
		&::before,
		&::after {
			content: '';
			top: 0;
			position: absolute;
			height: 110%;
			background-color: #fff;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}
		&::before {
			right: 100%;
		}
		&::after {
			left: 100%;
		}
	}
	&__wrapper {
	}
	&__slide {
	}
	&__item {
	}
}
.item-team {
	&__image {
		width: 100%;
		padding-bottom: 118.348624%; /* 387/327 */
		position: relative;
		margin-bottom: toRem(12);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		padding: toRem(30) toRem(15);
		border-radius: 30px;
		background-color: #fff;
		box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
	}
	&__title {
		margin-bottom: toRem(17);
		font-size: toRem(20);
		text-transform: uppercase;
		font-weight: 700;
		color: $mainBlueColor;
	}
	&__text {
		font-size: toRem(18);
	}
}
//========================================================================================================================================================
.contacts-block {
	&__container {
		@media (max-width: $mobile) {
			padding: 0;
		}
	}
	&__wrapper {
		background: url('@img/contacts-bg.png') center center / cover no-repeat;
		padding: toRem(100) 0;
		overflow: hidden;
		@media (min-width: $mobile) {
			border-radius: toRem(30);
		}
		@media (max-width: $mobile) {
			padding: toRem(100) toRem(20);
		}
	}
	&__head {
		text-align: center;
		color: #fff;
		max-width: toRem(565);
		margin: 0 auto;
		@include adaptiveValue('margin-bottom', 70, 50);
	}
	&__title {
		font-size: toRem(28);
		font-weight: 700;
		margin-bottom: toRem(30);
	}
	&__sub-title {
		line-height: 1.15;
		@include adaptiveValue('font-size', 20, 16);
	}
	&__form {
		max-width: toRem(565);
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: toRem(14);
		@include adaptiveValue('margin-bottom', 70, 50);
	}
	&__input {
		height: toRem(49);
		padding: 0 toRem(35);
		color: #fff;
		background-color: rgb(255, 255, 255, 0.2);
		border-radius: toRem(30);
		font-size: toRem(20);
		&::placeholder {
			color: #fff;
			opacity: 0.5;
		}
		@media (max-width: $mobile) {
			height: toRem(40);
			font-size: toRem(16);
		}
	}
	&__checkbox {
		margin-bottom: toRem(30);
		@media (max-width: $mobile) {
			margin-bottom: toRem(50);
		}
	}
	&__button {
	}
}
.checkbox {
	&__input {
	}
	&__label {
	}
	&__text {
	}
}
